#container {
    width: 500px;
    background-color: black;
    margin:0 auto;
}
div
{
    width: 75%;
    background-color: red;

}
div.second {
    width:24px;
    background-color: chartreuse;
    transition: all 0.3s linear;
}
div.second:hover {
    background-color: yellow;
    width:300px;

}